<h1>¡Aquí puedes crear tu receta!</h1>
<h3>Comienza por contarnos un poco de tu idea. ¡Ayúdanos a conocerla!</h3>
<form method="POST" action="/receta/{{userid}}">
  <div class="form-group">
    <label for="beerName">¿Cómo se llama tu cerveza?</label>
    <small class="form-text text-muted">Elige un nombre que capture lo que esperas de ella. Celebrar? Divertirte? Explorar?.</small>
    <input type="text" class="form-control" name="beerName" placeholder="La mejor">
  </div>

  <div class="form-group">
    <label for="beerDesc">¿Cuál es su historia?</label>
      <small class="form-text text-muted">Elige un nombre que capture lo que esperas de ella. ¿Celebrar? ¿Divertirte? Explorar?</small>
    <input type="text" class="form-control" name="beerDesc" placeholder="Se nos ocurrió a mi socio y mi en un roadtrip">
  
    <label for="beerWish">¿Cómo te la imaginas?</label>
        <small class="form-text text-muted">Si. ¿De qué color? ¿Con qué sabores? ¿Parecida a algo que ya hayas probado? </small>
      <input type="text" class="form-control" name="beerWish" placeholder="Con sabor a madera y café, poca espuma y mucho alcohol">
  </div>

<div id = "malt-select" class="form-group">
<hr>
<h3>Ahora, a algo más técnico: tus maltas</h3>
<small class="form-text text-muted">Selecciona las maltas que quieres y agrega la cantidad en gramos que vamos a poner. Considera que cada lote se prepara en 22 L de agua:</small>
 <label for="maltB">Selecciona tu malta base:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="maltB">
      {{#each malts}}
      <option>{{this.name}}</option>
      {{/each}}
    </select>

 <label for="maltsE">Selecciona tus maltas de especialidad</label>
    <select class="multiselect-recetas" id="Multiselect" multiple="multiple" name="maltsE">
      {{#each malts}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
</div>


<h3>Y ahora los lúpulos:</h3>
<div class="form-group">
    
  <label for="exampleFormControlSelect1">Selecciona el primer lúpulo</label>
    <select class="form-control" id="exampleFormControlSelect1">
      {{#each hops}}
      <option>{{this.hopName}}</option>
      {{/each}}
    </select>

<label for="exampleFormControlSelect1">Selecciona el segundo lúpulo</label>
    <select class="form-control" id="exampleFormControlSelect1">
      {{#each hops}}
      <option>{{this.hopName}}</option>
      {{/each}}
    </select>

    <label for="exampleFormControlSelect1">Selecciona el lúpulo para Dry Hopping</label>
    <select class="form-control" id="exampleFormControlSelect1">
      {{#each hops}}
      <option>{{this.hopName}}</option>
      {{/each}}
    </select>

    </div>

  <hr>
  <button type="submit" class="btn-index">¡Listo!</button>
  <a href="/showrecipe">Preview</a>
</form>

<script src="/javascripts/select.js"></script>