{{!-- Pensar en que esto salga como un modal en lugar de otra página --}}
<h2>{{brand}}</h2>
<h3>{{name}}</h3>
<h4>{{style}}</h4>
<p>
  {{#if description}}
  {{description}}
  {{else}}
  This beer still doesn't have a description.
  Wanna suggest one? Email us at admin@yocervezo.com.
  {{/if}}
</p>