{{!-- Pensar en que esto salga como un modal en lugar de otra página --}}
<h2>{{brand}}</h2>
<h3>{{name}}</h3>
<h4>{{style}}</h4>
<p>
  {{#if description}}
  {{description}}
  {{else}}
  Esta cerveza todavía no tiene descripción.
  ¿Quieres sugerir una? Escríbenos: admin(arroba)yocervezo.com.
  {{/if}}
</p>