<form method="POST" action="/onboarding/{{userid}}" id="onBoard">Contesta

  <label for="beerLikeArray">¿Las tres cervezas que más te gustan?</label>
  <select class="multiselect-cervezo-limit3" name="beerLikeArray" multiple="multiple">
    {{#each consumedBeers}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br>

  <label for="beerDislikeArray">¿Las tres cervezas que menos te gustan?</label>
  <select class="multiselect-cervezo-limit3" name="beerDislikeArray" multiple="multiple">
    {{#each consumedBeers}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br>

  <label for="celebBeer">¿Con qué cerveza te gusta celebrar?</label>
  <input list="beerList" name="celebBeer" placeholder="No lo Se">
  <datalist id="beerList">
    {{#unless consumedBeers}}
    <option value="Se acabó la cerveza :(">
      {{/unless}}
      {{#each consumedBeers}}
    <option value="{{this.name}}">
      {{/each}}
  </datalist>

  <label for="beerStyle">¿Qué estilo de cerveza es tu favorito?</label>
  <input type="text" name="beerStyle" placeholder="¿Pale Ale, Lager, Stout?">

  {{!-- TODO: Mostrar visualmente (JS) el valor seleccionado --}}
  <label for="beerHead">Del 1 al 10, ¿Cuán espumosa te gusta tu cerveza?</label>
  <input type="range" min="1" max="10" value="1" name="beerHead" class="slider">

  {{!-- TODO: Mostrar visualmente (JS) el valor seleccionado --}}
  <label for="beerGas">Del 1 al 10, ¿Qué tan gaseosa te gusta tu cerveza?</label>
  <input type="range" min="1" max="10" value="1" name="beerGas" class="slider">

  <label for="beerAlc">¿Cómo te gusta el alcohol den la cerveza?</label>

  <select name="beerAlc" form="onBoard">
    <option value="Muy presente">Muy presente</option>
    <option value="Balanceado">Balanceado</option>
    <option value="Ligero">Ligero</option>
    <option value="Imperceptible">Imperceptible</option>
  </select></p>

  <p><label for="beerBitt">¿Qué tan amarga te gusta?</label>
    <input type="range" min="1" max="10" value="1" name="beerBitt" class="slider"></p>

  <input type="submit" value="Enviar">

</form>

<script src="/javascripts/select.js"></script>
