<div class="beer-card">
  <img class="beer-img" src={{this.image_src}}>
  <a class="beer-link" href="/beers/{{this._id}}">
    <div class="beer-content">
      <h2 class="beer-brand">{{this.brand}}</h2>
      <h3 class="beer-style">{{this.style}}</h3>
      {{!-- Change this to include currency later --}}
      <p class="beer-price">${{this.price}} MXN</p>
    </div>
  </a>
  <button><a href="/add-cart/{{this._id}}">Add to cart!</a></button>
</div>