<div class="beer-card">
  <img class="beer-img" src={{this.image_src}}>
  <a class="beer-link" href="/beers/{{this._id}}">
    <div class="beer-content">
      <h3 class="beer-brand">{{this.brand}}</h3>
      <h4 class="beer-name">{{this.name}}</h4>
      <p class="beer-style">{{this.style}}</p>
      <p class="beer-price">${{this.price}} MXN</p>
    </div>
  </a>
  <button><a href="/add-cart/{{this._id}}">Agregar al carrito</a></button>
</div>